body{
	background-color: red;

}
.animated_div{
	width: 200px;
    height: 150px;
}
#animated_div {
width: 200px;
height: 150px;
background: red;
position: relative;
font-weight:bold;
padding: 10px;
animation:animated_div 10s 1000;
border-radius:5px;
-webkit-border-radius:500px;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:1100px;}
55% {transform: rotate(0deg);left:1100px;}
70% {transform: rotate(0deg);left:1100px;background:red;}
100% {transform: rotate(-360deg);left:0px;}
}

img{
	width: 200px;
	height: 200px;
}

button{
	

    background-color: #f9db27; /* yellow */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50%;
}


button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.players{
  border-radius: 500px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 75%;
  border: 5px solid #000000;
}

h3{
    margin-top: 10%;
    text-align: center;
    color: white;
}
a{
    margin-top: 20%;
    margin-left: 20%;
    color: thistle;
}
