body{
	background-color: red;
}

.animated_div{
	width: 200px;
    height: 150px;
}
#animated_div {
width: 200px;
height: 150px;
background: red;
position: relative;
font-weight:bold;
padding: 10px;
animation:animated_div 10s 1000;
border-radius:5px;
-webkit-border-radius:500px;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:1100px;}
55% {transform: rotate(0deg);left:1100px;}
70% {transform: rotate(0deg);left:1100px;background:red;}
100% {transform: rotate(-360deg);left:0px;}
}


h3{
    margin-top: 10%;
    text-align: center;
    color: white;
}
a{
    margin-top: 20%;
    margin-left: 20%;
    color: thistle;
}

#welbut{
    background-color: #fcd21c;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
    border: 4px solid #000;
    width: 200px;
}

#welbut:hover {
  background-color: black; 
  width: 500px;
}

.uno:hover {
  width: 500px;
}


