<html>
    <head>
        <link rel="stylesheet" type="text/css" href="game-play-theme.css">
    </head>
    <body>
        <center>
            <table id="players" border="3px">
                <tr>
                    <td>Name1 - rest: 5</td>
                    <td>Name2 - rest: 7</td>
                    <td>Name3 - rest: 4</td>
                </td>
                </tr>
            </table>
            <table id="floor" border="3px">
                <tr>
                    <td></td>
                </tr>
            </table>
            <h4>Click on a card to play</h4>
            <table border="2px">
                <tr>
                    <td id="card">card</td>
                    <td id="card">card</td>
                    <td id="card">card</td>
                    <td id="card">card</td>
                </tr>
            </table>
        </center>
    </body>
</html>