body{
    margin-top: 10%;
    background-color: whitesmoke;
}
#players{
    table-layout: auto;
    width: 40%;
}
#floor{
    table-layout: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 10%;
    height: 30%;
}